.share-video {
  text-align: center;
  padding: 20px 20px;
  font-family: microsoft yahei;
  background: gainsboro;
  .color-orange {
    margin: 0px 4px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .video {

  }

  .share {
    margin-top: 20px;
    font-size: 20px;
  }
}