$main-bg-color: #FF8A00;
$main-active-color: #FF8A00;
$gray-light: #E8ECEF !default;

//color

//进行中
$pptest-green:              #7DC059 !default;
//已结束
$pptest-gray:               #B5C6CD !default;
//将要结束
$pptest-orange:             #FE9013 !default;

//深灰色
$pptest-gray-dark:          #999999 !default;

$pptest-gray-light:         #E8ECEF !default;

$pptest-red-dark:           #CA4E33 !default;

$pptest-blue:               #2A93FC !default;

$pptest-blue-light:         #E5F3FE !default;

$pptest-blue-lighter:       #E8ECEF !default;

$pptest-red:                red !default;
